#homePic {
  max-width: 100%;
  z-index: 0;
  mask-image: linear-gradient(
    rgb(0 0 0 / 1),
    rgb(0 0 0 / 0.5) 90%,
    rgb(0 0 0 / 0)
  );
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 60px;
  font-family: sans-serif;
  font-weight: 700;
  margin: 1%;
}

/* new releases css */
.shoe-row {
  display: flex;
  justify-content: center;
}

.shoe-pics {
  width: 350px;
}

.section-container {
  padding: 2rem;
}

.slider-wrapper {
  position: relative;
  max-width: 60rem;
  margin: 0 auto;
}

.slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  width: 100px;
  height: auto;
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: rgb(255, 0, 0);
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.slider-nav a:hover {
  opacity: 1;
}

.shoe-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px;
  margin: 40px 20px 30px 20px;
}
.description {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  color: black;
}

.shoe-price {
  display: flex;
  justify-content: center;
  padding: 10px 0 5px 0;
  font-size: 16px;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
}

.ratings {
  padding-top: 5px;
  cursor: pointer;
}

.buy {
  color: white;
  background-color: rgb(0, 0, 0);
  padding: 10px;
  border: none;
  border-radius: 4px;
  width: 140px;
  font-size: 13px;
  font-weight: 700;
  margin-top: 10px;
  cursor: pointer;
}

/* Most popular css start here */

h2 {
  display: flex;
  justify-content: center;
  font-size: 60px;
  font-family: sans-serif;
  font-weight: 700;
  margin: 5%;
  color: black;
}

.top-sold {
  background: linear-gradient(to top, #363636, #ffffff);
}

.black-background {
  padding: 40px;
}

.gray-back-top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-left: 250px;
}
.gray-back-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-right: 300px;
}

.gray-back-top h4,
.gray-back-bottom h4 {
  font-size: 40px;
  font-family: sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
  color: black;
  padding-bottom: 10px;
}

.shop-now {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  margin-top: 10px;
  font-size: 20px;
  border-radius: 30px;
  cursor: pointer;
  border: none;
  background-color: white;
}

.pop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pop a {
  text-decoration: none;
  color: black;
}

.pop a::after {
  color: black;
}

.panda-pic {
  width: 500px;
  border-radius: 30px;
  border: 20px solid rgb(157, 157, 157);
  margin-left: 100px;
}

.samba-pic {
  width: 500px;
  border-radius: 30px;
  border: 20px solid rgb(157, 157, 157);
  margin-right: 100px;
}
